{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        h1 {
            text-align: center;
            color: darkblue;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            text-align: center;
        }
        img {
            margin: 0 5px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Sticker World</h1>
    <p>World of trending stickers</p>
    <h2>Our Stickers</h2>
    <img src="{% static 'images/japan_pack.jpeg' %}" alt="Stickers" width="250">
    <img src="{% static 'images/london_pack.jpeg' %}" alt="Stickers" width="250">
    <img src="{% static 'images/how_planes_fly.jpeg' %}" alt="Stickers" width="250">
    <img src="{% static 'images/airplane_engine.jpeg' %}" alt="Stickers" width="250">
    <h2>Posters</h2>
    <img src="{% static 'images/B777.jpeg' %}" alt="Poster" width="300" style="margin-right: 1px;">
    <img src="{% static 'images/nissan.jpeg' %}" alt="Poster" width="300" style="margin-left: 30px;">
    <img src="{% static 'images/airbus.jpeg' %}" alt="Poster" width="282">

</body>
</html>